/* Stylings for my web page.*/
img {
  width: 1500px;
  height: 400px;
}

body {
  margin: 0;
  background-color: linen;

}

h1 {
  font-family: Tahoma;
  font-size: 50px;
  text-align: center;
  color: rgb(24, 61, 97);

}

h2{
  font-family: Tahoma;
  font-size: 30px;
  text-align: center;
  color:  grey:
}

p {
  font-family: Tahoma;
  text-align: center;
}

ul {
  text-align: center;
  color: darkslategray;
  font-family: Tahoma;
  list-style: inside;
}

hr {
  height: 4px;
  width: 500px;
  background-color: lightskyblue;
  border: 2px solid lightskyblue;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 5px;
}

h3 {
  font-family: Tahoma;
  text-align: center;
}

footer {
  font-family: Tahoma;
  text-align: center;
}

ol {
  font-family: Tahoma;
  text-align: center;
  list-style: inside;
}

h4 {
  text-align: center;
  font-size: 20px;
}

h5 {
  font-size: 10px;
  text-align: left;
}

.color-pop {
 color: magenta;
}